.survey-form {
    max-width: 700px;
    margin: 40px auto 60px;
    padding: 40px;
    border-radius: $border-radius;
    background-color: $color-bg2;

    &__item {
        padding: 5px 0 20px;
    }

    label,
    p {
        margin-bottom: 10px;
    }

    span {
        font-size: 0.8rem;
    }
}

label {
    display: flex;
    align-items: center;
}

input,
select,
textarea,
button {
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: $border-radius;
}

input[type="radio"],
input[type="checkbox"] {
    height: 1.2rem;
    width: 1.2rem;
    margin: 3px 10px 5px 0;
}

textarea {
    min-height: 150px;
    max-width: 100%;
}

button {
    background-color: $color-bg3;
    cursor: pointer;
}
